.Pokedex{
  text-align: center;
}
@media (max-width: 800px){
    .Pokedex{
      text-align: center;
    }
}
.Pokedex-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3em;
}

.Pokedex-winner{
  color:#4caf50;
}
.Pokedex-loser{
    color:#e91e63;
}
